<p id="notice"><%= notice %></p>

<h1>Fines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fines.each do |fine| %>
      <tr>
        <td><%= fine.name %></td>
        <td><%= fine.description %></td>
        <td><%= fine.price %></td>
        <td><%= link_to 'Show', fine %></td>
        <td><%= link_to 'Edit', edit_fine_path(fine) %></td>
        <td><%= link_to 'Destroy', fine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fine', new_fine_path %>
